*.lattice
*.ionpos
*/*.lattice
*/*.ionpos
*/*.in
*/*.sh
*.sh
*.in
*.out
*/*.out

*/*.dosUp
*/*.dosDn
*/*.dos

*/*.xsf
*/*.eigstats
*/*.eigenvals
*/*.n
*/*.n_up
*/*.n_dn
*/*.wfns
*/*.fillings

*.xsf
*.xsf
*.eigstats
*.eigenvals
*.n
*.n_up
*.n_dn
*.wfns
*.fillings

!*/SCF_MAIN.in
!*/WANNIER_MAIN.in
!*/BANDSTRUCT_MAIN.in
!*/Phonon_MAIN.in
!*/WANNIER_DEFECT.in

TwoDDefectDATASETS/wannierBN33BC.mlwfBandContribDn
.gitignore
TwoDDefectDATASETS/wannierBN33BC.mlwfBandContribUp
TwoDDefectDATASETS/wannierBN33BC.mlwfBandRangesDn
TwoDDefectDATASETS/wannierBN33BC.mlwfBandRangesUp
TwoDDefectDATASETS/wannierBN33BC.mlwfCellMapDn
TwoDDefectDATASETS/wannierBN33BC.mlwfCellMapUp
TwoDDefectDATASETS/wannierBN33BC.mlwfCellWeightsUp
TwoDDefectDATASETS/wannierBN33BC.mlwfCellWeightsDn
TwoDDefectDATASETS/wannierBN33BC.mlwfHUp
TwoDDefectDATASETS/wannierBN33BC.mlwfHDn
TwoDDefectDATASETS/wannierBN33BC.mlwfM0Dn
TwoDDefectDATASETS/wannierBN33BC.mlwfM0Up
TwoDDefectDATASETS/wannierBN33BC.mlwfUDn
TwoDDefectDATASETS/wannierBN33BC.mlwfUUp
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfBandContribDn
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfBandRangesDn
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfBandContribUp
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfBandRangesUp
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfCellMapDn
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfCellMapUp
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfCellWeightsDn
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfCellWeightsUp
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfHDn
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfHUp
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfM0Dn
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfM0Up
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfUDn
TwoDDefectDATASETS/wannierDefectBN33BC.mlwfUUp
TwoDDefectDATASETS/wannierDefectBN33BCUp.map.txt
TwoDDefectDATASETS/wannierDefectBN33BCUp.txt
