*.lattice
*.ionpos
*/*.lattice
*/*.ionpos
*/*.in
*/*.sh
*.sh
*.in
*.out
*/*.out

*/*.dosUp
*/*.dosDn
*/*.dos

*/*.xsf
*/*.eigstats
*/*.eigenvals
*/*.n
*/*.n_up
*/*.n_dn
*/*.wfns
*/*.fillings

*.xsf
*.xsf
*.eigstats
*.eigenvals
*.n
*.n_up
*.n_dn
*.wfns
*.fillings


!*/SCF_MAIN.in
!*/WANNIER_MAIN.in
!*/BANDSTRUCT_MAIN.in
!*/Phonon_MAIN.in
